name: Deploy Bot
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: SSH and Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/alcatsplat/animeclub-discordbot
            /usr/bin/git pull origin main
            /usr/bin/python3 -m pip install -r requirements.txt
            
            # Kill the old bot window if it's running
            screen -X -S discordbot quit || true
            
            # Start a new "detached" window running your bot
            screen -dmS discordbot /usr/bin/python3 main.py
            
